@page "/auth/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
@inject IHostEnvironment Env
<p>Logging out...</p>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await HttpContext.SignOutAsync(Constants.AuthScheme);
        @if (Env.IsDevelopment())
        {
            NavigationManager.NavigateTo("/", replace: true);
        }
        else
        {
            NavigationManager.NavigateTo("dashboardreport/", replace: true);
        }        
    }
}