@page "/auth/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager NavigationManager
@inject IHostEnvironment Env
@inject ProtectedSessionStorage ProtectedSessionStore
<p>Logging out...</p>

@code 
{
        [Inject] BitzArt.Blazor.Auth.IUserService<Services.SignInPayload> UserService { get; set; }
        [CascadingParameter]
        public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // await HttpContext.SignOutAsync(Constants.AuthScheme);
        // @if (Env.IsDevelopment())
        // {
        //     NavigationManager.NavigateTo("/", replace: true);
        // }
        // else
        // {
        //     NavigationManager.NavigateTo("dashboardreport/", replace: true);
        // }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ProtectedSessionStore.SetAsync("IsAuthenticated", false);
            await UserService.SignOutAsync();
            NavigationManager.NavigateTo("/auth/login", true);
        }
    }
}