@page "/"
@* @using Syncfusion.Blazor.Navigations *@
@inject IDbContextFactory<Models.TarakanContext> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* @if (_authState != null)
{
    _authState.User.Claims.First();
} *@

@code{
    //private AuthenticationState _authState;
    //var _authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
    protected override async Task OnInitializedAsync()
    {    
        using var context = DbFactory.CreateDbContext();    

        if (context.Patients is not null)
        {
            var contact = await context.Patients.SingleAsync(x => x.PatientId == "123456");
        }
    }    
}